{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">Historial de Tickets</h2>

{% if tickets %}
    <div style="display: flex; justify-content: center;">
        <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; text-align: center; width: 60%;">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Fecha de Creación</th>
                <th>Creado por</th>
            </tr>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.titulo }}</td>
                <td>{{ ticket.fecha_creacion }}</td>
                <td>{{ ticket.usuario_creador.username }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p style="text-align: center;">No hay tickets creados.</p>
{% endif %}

<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'dashboard' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Volver al Dashboard</a>
</div>

{% endblock %}