{% block content %}
<h2 style="text-align: center;">Lista de Usuarios</h2>

{% if usuarios %}
    <div style="display: flex; justify-content: center;">
        <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; text-align: center; width: 50%;">
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Rol</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.get_rol_display }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'dashboard' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Volver al Dashboard</a>
    </div>
{% else %}
    <p style="text-align: center;">No hay usuarios registrados.</p>
{% endif %}

{% endblock %}
