{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Panel del Director</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'crear_ticket' %}"><i class="fas fa-plus-circle"></i> Crear Ticket</a></li>
                <li class="list-group-item"><a href="{% url 'filtrar_actividades' %}"><i class="fas fa-filter"></i> Filtrar Actividades</a></li>
                <li class="list-group-item"><a href="{% url 'generar_reportes' %}"><i class="fas fa-file-alt"></i> Generar Reportes</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}