{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Panel del Subdirector</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'gestionar_usuarios' %}"><i class="fas fa-users"></i> Gestionar Usuarios</a></li>
                <li class="list-group-item"><a href="{% url 'generar_reportes' %}"><i class="fas fa-file-alt"></i> Generar Reportes</a></li>
                <li class="list-group-item"><a href="{% url 'aprobar_tickets' %}"><i class="fas fa-check-circle"></i> Aprobar Tickets</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
