

/* Contenedor principal */
.edit-ticket-container {
    background-color: #800020; /* Rojo vino corporativo */
    margin-left: 150px;
    padding: 30px; /* Menos padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px; /* Un poco más compacto */
    width: 100%;
    color: #ffffff; /* Texto en blanco para contrastar */
}

/* Título */
.edit-ticket-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Grupo de inputs */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    background: #f8f9fa;
}

textarea {
    resize: vertical;
}

/* Botón de enviar */
.btn-submit {
    background-color: #4a667d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #218838;
}

/* Botón de cancelar */
.btn-cancelar {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 300px;
}

.btn-cancelar:hover {
    background-color: darkred;
}